*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{ max-width: 1600px;}
 .btn-all{
  cursor: pointer;
}
.btn-all:hover{
  background-color: #001931;
}
a:hover{
  background-color: #627382;
}

.btn-g{
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600px;
  background-color: #469165;
  color: #FFFFFF;
  padding: 12.5px 16px 12.5px 16px;

}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
 
   padding-top: 16px 120px 16px 120px;
  background-color:#FFFFFF;
  max-width: 1600px;
  }

nav{
 
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 369px;
}

.menu{
  display: flex;
   gap: 32px;
}

.menu li{
  list-style: none;
 }

.menu li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500px;
  line-height: 152%;
  color: #000000;
  }

#hero{
      height: 674px;
     padding: 115px 120px 179px 120px;
     border:none;
     text-align: center;
     background-image: url(../assets/hero-bg.png);
     background-repeat: no-repeat;
     background-size:cover;
     background-position:right;
     }

     .hero-content{
      max-width: 1360px;
     }
#hero .hero-content .btn-a{
  font-size: 16px;
  font-weight: 500px;
  color: #469165;
  padding: 8px 12px 8px 34px;
  border: none;
  border-radius: 1000px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}
.hero-content .title{
  margin-bottom: 16px;
}
#hero .hero-content .s{
  color: #FFFFFF;
}
#hero .hero-content .n{
  color: #30B868;
}
.hero-content p {
  font-size: 18px;
  font-weight: 400px;
  color: #FFFFFF;
  line-height: 24px;
  margin-bottom: 32px;
}
.btn-grp{
  display: flex;
  justify-content: center;
  gap: 16px;
}


.btn-vault{
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  color: #FFFFFF;
  padding: 16.5px 46px 16.5px 16px;
}
.btn-works{
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 16.5px 16px 16.5px 46px;
}
.knowledge{
  text-align: center;
  padding-top: 30px;
}
.knowledge h2{
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
}
.knowledge p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#a{
  padding-top: 44px;
}
.card-container{
  width: 85%;
  max-width: 1360;
  margin: 0 auto;
}
.cards{
  display: flex;
  gap: 20px;
}
.card{
  text-align: center;
  box-shadow: 0 1px 4px 0 #9c9696;
  max-width: 322px;
  padding: 10px;
}
.card h3{
  font-size: 24px;
  color: #001931;
  margin-bottom: 16px;
}
.card p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}

.card img{
  background-color: #F95555;
  border-radius: 50%;
  padding: auto;
}


.brain-img img{
  width: 100%;
}
.brain-img{
  height: 600px; 
  width: 600px;
  margin-top: 120px;
  

}
.brain-text{
  height:396px ;
  width:800px ;
  margin-top: 220px;
  
  
}
.brain-info{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.brain-text .title{
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  margin-bottom: 16px;
  color: #469165;
}
.brain-text h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
.brain-text .text{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.brain-text p{
  font-size: 16px;
  line-height: 20px;
  color: #001931;
  margin-bottom:16px;

}
.thinking{
  border: none;
   margin: 0 120px 120px 120px;
 background-color: #F7F6F2;
 text-align: center;
 box-shadow: 0 0 0 #627382;
 height: 385px;
}

.thinking-text{
  padding-top: 40px;
}
.thinking-text h2{
  margin: 60px 40px 16px 40px;
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}
.thinking-text p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;

}
.btn-text{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  
}
.btn-text button{
  margin-bottom: 16px;
  
}
#last-section{
  background-color: #001931;
  height: 348px;
}
.social a img{
  width: 20px;
  height: 20px;
  
}
.last{
 padding: 120px 60px 30px 60px;
 display: flex;
 justify-content:space-between;
}
.links p{
  font-size: 20px;
  font-weight: 500px;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.r{
  margin: 100px 120px 30px 120px;
  border-top:1px solid rgb(107, 107, 104) ;
  padding-top: 10px;
}
.r p{
  text-align: center;
  color: #FFFFFF;
}
